# Server config
PORT=8080

# Database configurations
DB_URL=jdbc:postgresql://localhost:5432/your_database_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT Secret Parameters
JWT_SECRET=your_jwt_signing_key_secret_must_be_at_least_64_characters
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# AES-256 Encryption Key (Base64 encoded 32-byte key)
ENCRYPTION_KEY=your_base64_encoded_32_byte_aes_key_here


# SMTP Mail config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_gmail_address@gmail.com
SMTP_PASSWORD=your_gmail_app_password
